[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:icecreammatt/yasnippet.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git@github.com:icecreammatt/auto-complete.git
